html {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background: #F7971E;
  background: -webkit-linear-gradient(to bottom, #FFD200, #F7971E);
  background: linear-gradient(to bottom, #FFD200, #F7971E);
}

img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 256px;
   height: 256px;
   margin-top: -128px; /* Half the height */
   margin-left: -128px; /* Half the width */
}
